.display-flex-row {
    display: flex;
    flex-direction: row;
}

.about-me {
    flex: 2;
    margin: 2rem;
}

.art {
    flex: 1;
}

.bar {
    visibility: hidden;
    animation: blink 1s linear infinite;
    font-weight: bold;
}

main {
    background: #112B3C;
}

h1 {
    font-family: "Open-Sans", sans-serif;
    color: #EFEFEF;
}

strong {
    color: #F66B0E;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #EFEFEF;
}

header {
    background: #202020;
    height: 10vh;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

header nav {
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content:space-evenly;
}

header nav a {
    color: #EFEFEF;
    text-decoration: none;
}

header nav a:hover {
    color: #AAAAAA;
}

section {
    height: 90vh;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }
    49% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}