* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}

.presentation {
    flex-direction: column;
    position: relative;
}

.decoration {
    position: absolute;
    border-radius: 100%;
    background:  #FFC4C4;
    z-index: 0;
    box-shadow: #20202020 0px 0px 40px;
    width: 30rem;
    height: 30rem;
    left: 10%;
    top: -30%;
}

.about-me {
    flex: 2;
    margin: 2rem;
    font-size: 1.2em;
    text-align: justify;
}

header {
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background: var(--dark-1);
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    z-index: 2;
}

.art {
    flex: 1;
}

.bar {
    visibility: hidden;
    animation: blink 1s linear infinite;
    font-weight: bold;
}

.skills {
    background:  #FFC4C4;
}

body {
    overflow-x: hidden;
}

main {
    background: #FFE7BF;
}

h1 {
    font-family: "Open-Sans", sans-serif;
    color: #202020;
    z-index: 1;
}

strong {
    color: #A10035;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #202020;
    z-index: 1;
}

header {
    background: #202020;
    height: 10vh;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

header nav {
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content:space-evenly;
}

header nav a {
    color: #EFEFEF;
    text-decoration: none;
}

header nav a:hover {
    color: #AAAAAA;
}

section {
    height: 100vh;
    position: relative;
}


@keyframes blink {
    0% {
        visibility: hidden;
    }
    49% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .header, .decoration {
        display: none;
    }

    .display-flex {
        flex-direction: column;
    }
    
    .presentation {
        text-align: center;
        background: #FFC4C4;
    }

    .about-me {
        font-size: 1em;
    }
}

@media (max-width: 365px) {
    .art {
        display: none;
    }

    .about-me {
        font-size: .8em;
    }

    section {
        height: auto;
    }
}

footer > a:hover {
    filter: brightness(.6);
}

