* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #00ADB5;
    --color-4: #DDDDDD;

    --font-size-1: 1.2em;
    --font-size-2: 1.4em;
    --font-size-3: 1.8em;

    --font-style-1: 'Open Sans', sans-serif;
    --font-style-2: 'Montserrat', sans-serif;
}

body {
    background: var(--color-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    scrollbar-width: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    scroll-behavior: smooth;
}

.line {
    height: 1px;
    background: var(--color-4);
    flex: 1;
    margin-inline: .8rem;
}

header > nav {
    display: flex;
    scroll-behavior: smooth;
}

header > nav > a {
    text-decoration: none;
    color: var(--color-4);
    font-family: var(--font-style-2);
    font-size: var(--font-size-1);
    font-weight: 400;
    padding: .8rem; 
}

header > nav > a:hover {
    filter: brightness(.8);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profileImage {
    width: 20rem;
    border-radius: 10%;
    margin-top: 1.8rem;
    filter: drop-shadow(0px 0px 5px #000);
}

strong {
    background: var(--color-1);
    padding: .1em .5em .1em .5em;
    border-radius: 5px;
}

h1, h2, li, p {
    color: var(--color-4);
    line-height: 1.3em;
}

h1, h2 {
    font-family: var(--font-style-1);
    text-shadow: #000 0px 0px 5px;
}

h1 {
    font-size: var(--font-size-3);
}

h2 {
    font-size: var(--font-size-2);
}

p {
    padding: .2rem;
    font-family: var(--font-style-2);
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    font-family: var(--font-style-1);
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background: var(--color-1);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer > a {
    margin-top: .4rem;
    filter: brightness(.8);
}

footer > a:hover {
    filter: brightness(.6);
}